attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.3.2
idna==3.3
iniconfig==1.1.1
packaging==21.3
pip==21.3.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.1
pytest-cov==3.0.0
PyYAML==6.0
requests==2.27.1
setuptools==58.3.0
tomli==2.0.1
urllib3==1.26.9
wheel==0.37.0
